.contacts {
  border-radius: 30px;
  background: white;
  padding-left: 125px;
  margin-bottom: 10px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__column-img {
  height: 717px;
}
.contacts__column-img img {
  height: 100%;
}

.contacts__column-form {
  background: none;
  width: 467px;
}
.contacts__column-form h2 {
  color: #191C19;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -1.8px;
  margin-top: 100px;
  margin-bottom: 60px;
}
.contacts__column-form input {
  width: 100%;
  padding: 15px 40px;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.66px;
  border-radius: 100px;
  border: none;
  background: #3b3d3b;
}
.contacts__column-form input::-webkit-input-placeholder {
  color: #fff;
}
.contacts__column-form input::-moz-placeholder {
  color: #fff;
}
.contacts__column-form input:-ms-input-placeholder {
  color: #fff;
}
.contacts__column-form input::-ms-input-placeholder {
  color: #fff;
}
.contacts__column-form input::placeholder {
  color: #fff;
}
.contacts__column-form #name {
  margin-bottom: 26px;
}
.contacts__column-form button {
  width: 450px;
  padding: 20px;
  font-size: 22px;
  border-radius: 20px;
  background: #1BFF07;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .contacts {
    padding-left: 15px;
    margin-bottom: 7px;
  }
  .contacts__column-form {
    width: 383px;
    margin-left: 50px;
  }
  .contacts__column-form h2 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.2px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .contacts__column-form input {
    width: 80%;
    font-size: 16px;
    letter-spacing: -0.48px;
  }
  .contacts__column-form #name {
    margin-bottom: 17px;
  }
  .contacts__column-form button {
    width: 383px;
    padding: 15px;
    font-size: 16px;
    margin-top: 40px;
  }
  .contacts__column-img {
    height: 484px;
  }
  .contacts__column-img img {
    height: 100%;
  }
}