.footer__container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #fff;
  padding-left: 125px;
  padding-right: 125px;
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 76px;
  margin-bottom: 66px;
}
.footer__top-row .footer__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__top-row .footer__social-networks p {
  margin-left: 20px;
}
.footer__top-row .footer__autor {
  font-size: 22px;
  letter-spacing: -0.66px;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 74px;
}
.footer__bottom-row .footer__rights-protected,
.footer__bottom-row .footer__data-processing-policy {
  color: #000;
  font-size: 20px;
  letter-spacing: -0.6px;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .footer__container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__inner {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer__top-row {
    padding-top: 51px;
    margin-bottom: 43px;
  }
  .footer__top-row .footer__social-networks p {
    margin-left: 14px;
    font-size: 16px;
  }
  .footer__top-row .footer__autor {
    font-size: 16px;
    letter-spacing: -0.48px;
  }
  .footer__bottom-row {
    padding-bottom: 50px;
  }
  .footer__bottom-row .footer__rights-protected,
  .footer__bottom-row .footer__data-processing-policy {
    font-size: 14px;
    letter-spacing: -0.42px;
  }
}