.burger {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  overflow: hidden;
}
.js-burger-btn {
  cursor: pointer;
}
.burger_open {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.burger__content {
  position: relative;
  width: 50%;
  height: 100%;
  background: #000;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
.btn-close-burger-menu {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 25px;
  right: 25px;
  &:hover {
    cursor: pointer;
  }
}
.burger_open {
  & .burger__content {
    transform: translateX(0);
  }
}
.burger__wrapper {
  margin-top: 20%;
  margin-left: 10%;
}

.burger__logo {
  display: inline-block;
  font-size: 42px;
  padding: 6px 20px;
  border-radius: 25px;
  border: 2px solid #FFF;
  color: #FFF;
  background: black;
  margin-bottom: 44px;
  text-transform: uppercase;
}

.burger__nav {
  display: flex;
  flex-direction: column;
  a {
    color: #fff;
    font-size: 25px;
    letter-spacing: -0.75px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:not(:last-child) {
    margin-bottom: 21px;
  }
  a:hover {
    color: #1bff07;
  }
}

@media (max-width: 576px) {
  .burger__content {
    width: 65%;
  }
}

@media (max-width: 375px) {
  .burger__content {
    width: 85%;
  }
}