.hero__fon-img {
  background-image: url("/img/computer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 765px;
}
.inner {
  padding-left: 125px;
  padding-right: 125px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 36px;
}

.header__logo {
  padding: 5px 15px;
  border-radius: 35px;
  background: black;
  color: #fff;
  font-size: 42px;
}

.burger-btn {
  display: none;
  width: 63px;
  height: 63px;
}
.nav {
  display: flex;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: -0.54px;
}

.nav__link:not(:first-child) {
  margin-left: 50px;
}

.about-me {
  margin-top: 252px;
  .about-me__highlight {
    color: #fff;
    font-size: 30px;
    line-height: 100%;
    margin-top: 20px;
  }
  .about-me__profession {
    color: #1bff07;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -3px;
  }
}

// Адаптив ______________________
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
 
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    align-items: center;
    padding-top: 10px;
  }
  .svg-container {
    width: 50px;
    height: 50px;
  }
  .nav {
    display: none;
  }
  .burger-btn {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .inner {
    padding-left: 5px;
    padding-right: 5px;
  }
  .svg-container {
    width: 40px;
    height: 40px;
  }
  .header__logo {
    padding: 0px 10px;
    border-radius: 20px;
    font-size: 32px;
  }
  .about-me {
    margin-top: 290px;
    .about-me__highlight {
      font-size: 25px;
      line-height: 100%;
      margin-top: 15px;
    }
    .about-me__profession {
      font-size: 60px;
      line-height: 100%;
      letter-spacing: -2px;
    }
  }
}
@media (max-width: 576px) {
  .inner {
    padding-left: 5px;
    padding-right: 5px;
  }
 
  .svg-container {
    width: 35px;
    height: 35px;
  }
  .header__logo {
    padding: 0px 8px;
    display: inline-flex;
    border-radius: 20px;
    font-size: 22px;
  }
  .about-me {
    margin-top: 250px;
    .about-me__highlight {
      font-size: 15px;
      line-height: 100%;
      margin-top: 15px;
    }
    .about-me__profession {
      font-size: 45px;
      line-height: 100%;
      letter-spacing: -2px;
    }
  }
}
@media (max-width: 375px) {
  .about-me {
    margin-top: 250px;
    .about-me__highlight {
      font-size: 18px;
      line-height: 100%;
      margin-top: 15px;
    }
    .about-me__profession {
      font-size: 40px;
      line-height: 100%;
      letter-spacing: -2px;
    }
  }
}
