// @import "normalize.css";
@import "./rest.scss";
@import "./header.scss";
@import "./burger-menu.scss";
@import "./hero";
@import "./portfolio.scss";
@import "./skills.scss";
// @import "./competencies.scss";
// @import "./contacts.scss";
// @import "./footer.scss";
// @import "./service.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #ececec;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
